<div id = "aba-central">
    <div class="barra-aplicacoes">
            <div id = "aba-osciloscopio" class ="aba-aplicacao" role="button" tabindex="0" onclick=window.alert('Oi')>
                <h3>Domínio do tempo</h3>
            </div>

        <a href="http://127.0.0.1:8000/home/espectro" id="ancora-espectro"> 
            <div id = "aba-espectro" class="aba-aplicacao" role="button" tabindex="0">
                <h3>Espectro</h2>
            </div>
        </a> 

    </div>

    <div class="barra-sinais">

    </div>
    <div class="area-grafico">
        <div class = "grafico">
            {{ div | safe }}
            <!-- Scripts do Bokeh -->
            {{ cdn_js | safe }}
            {{ script | safe }}   
        </div>

    </div>  
</div>

<!--

        <div class="popup">
            
            <div class="popup-conteudo">
                  <h3>Título do Pop-up</h2>
                      <p>Este pop-up usa JavaScript para controle avançado.</p>
                  <button class="fechar">&times;</button>
            </div>
          </div>

-->