<div id = "aba-central">
    <div class="barra-aplicacoes">
            <div id = "aba-osciloscopio" class ="aba-aplicacao" data-aba = "tempo" >
                <button class = "aba-btn active" id = "btn-tempo" onclick = "trocarAbas('tempo')">Domínio do tempo</button>
            </div>

            <div id = "aba-espectro" class="aba-aplicacao" data-aba = "frequencia"  >
                <button class = "aba-btn" onclick = "trocarAbas('frequencia')" id = "btn-frequencia" >Espectro</button>
            </div>
    </div>

    <div class="barra-sinais">

    </div>
    <div class="area-grafico">
        <div class = "grafico" id = "grafico_tempo">
            {{ div | safe }}
            {{ cdn_js | safe }}
            {{ script | safe }}
        </div>
        <div class = "grafico" id = "grafico_frequencia" style="display: none;">
            {{ div_freq | safe }}
            {{ script_freq | safe }}    

        </div>


    </div>  
</div>