{{ sinais_json|json_script:"sinais-data" }}

<div class="aba" id="aba-direita">
    <div class="container-titulo" id="container-entradas-titulo">
        <h2 >Entradas</h2>
    </div>
    <hr style="width: 100%; margin: 0; padding: 0; border:none;  height: 2px;background-color: black">
    <div class = "container-futuro" id = "container-sinais">
        <div id = "abas-sinais" class = "container-conjunto-abas" >

                <button type="button" class="botao-sinal {% if sinal_ativo == 1 %} active {% endif %}"
                data-sinal="1">
                S1
                </button>
                <button type="button" class="botao-sinal {% if sinal_ativo == 2 %} active {% endif %}"
                data-sinal="2">
                S2
                </button>
                <button type="button" class="botao-sinal {% if sinal_ativo == 3 %}active{% endif %}"
                data-sinal="3">
                S3
                </button>
                <button type="button" class="botao-sinal {% if sinal_ativo == 4 %}active{% endif %}"data-sinal="4">S4</button>
                <button type="button" class="botao-sinal {% if sinal_ativo == 5 %} active {% endif %}" data-sinal="5">S5</button>

        </div>
 
    </div>
    <div class="container-inputs" id = "container-inputs">
        
        {% include 'home/formulario-entradas.html' %}

    </div>

    <h2 id = "titulo-operacoes">Operações</h2>
    <hr style="width: 100%; margin: 0; padding: 0; border:none;  height: 2px;background-color: black">
    <div class = "container-futuro">

        <!-- Operação -->

         <div id="form-select">
            
            {% for i in range_5 %}
            <select id="entrada-operacao-{{ i }}">
            <option value="soma" {% if i == 0 %}selected{% endif %}>+</option>
            <option value="subtracao">-</option>
            <option value="multiplicacao">*</option>
            <option value="divisao">/</option>
            <option value="nenhuma" {% if i != 0 %}selected{% endif %}>N/A</option>
            </select>
            {% endfor %}
        
        </div>

                        
    </div>
</div>