<div id = "aba-central">
    <div class="barra-aplicacoes">
            <div id = "aba-osciloscopio" class ="aba-aplicacao" data-aba = "tempo" >
                <button class = "aba-btn active" id = "btn-tempo" onclick = "trocarAbas('tempo')">Domínio do tempo</button>
            </div>

            <div id = "aba-espectro" class="aba-aplicacao" data-aba = "frequencia"  >
                <button class = "aba-btn" onclick = "trocarAbas('frequencia')" id = "btn-frequencia" >Espectro</button>
            </div>
    </div>

    <div class="barra-sinais">
        <div class = "container-visualizacao-sinais" id = "cs1" >
            <label for="sinal1">S1</label>
            <input type="checkbox" id = "sinal1" checked></input>
        </div>

        <div class = "container-visualizacao-sinais" id = "cs2" style="display: none;">
            <label for="sinal2">S2</label>
            <input type="checkbox" id = "sinal2" ></input >
        </div>

        <div class = "container-visualizacao-sinais" id = "cs3" style="display: none;">
            <label for="sinal3">S3</label>
            <input type="checkbox" id = "sinal3" ></input>
        </div>

        <div class = "container-visualizacao-sinais" id = "cs4" style="display: none;">
            <label for="sinal4">S4</label>
            <input type="checkbox" id = "sinal4"></input>
        </div>

        <div class = "container-visualizacao-sinais" id = "cs5" style="display: none;"> 
            <label for="sinal5">S5</label>
            <input type="checkbox" id = "sinal5"></input>
        </div>

    </div>
    <div class="area-grafico">
        <div class = "grafico" id = "grafico_tempo">
            {{ div | safe }}
            {{ cdn_js | safe }}
        </div>
        <div class = "grafico" id = "grafico_frequencia" style="display: none;">
            {{ div_freq | safe }}
            
        </div>
        
        {{ script | safe }}
        {{ script_freq | safe }}    

    </div>  
</div>