<form  id = "form-entrada" action=" {% url 'osciloscopio' %}" method="post" class="formulario-entrada">
    {% csrf_token %}

    <input type="hidden" name = "numero_sinal" id = "numero_sinal" value= 1>
    
    <!-- Forma do sinal -->
        <div class="form-group" id="grupo-forma-sinal">
            <legend style= "font-size: 16px; font-weight: bold;"class="form-label">Forma do sinal</label>
            <div class="form-select" id = "select-forma-sinal">
                <select name="entrada-forma-sinal" id="entrada-forma-sinal" value = "senoidal"  >
                    <option value="senoidal" >Senoidal</option>
                    <option value="quadrada"  >Quadrada</option>
                    <option value="triangular" >Triangular</option>
                    <option value="ruido-branco">Ruído Branco</option>
                </select>        
            </div>            
        </div>

        <!-- Step 
         
        <div class="form-group" id="grupo-step">
            <legend style= "font-size: 14px; font-weight: bold;"class="form-label">Step</label>
                <div class="form-select" id = "select-step">
                    <select name="entrada-step" id="entrada-step" value = "1" >
                        
                    <option value="1000"  >1000</option>
                    <option value="100" >100</option>
                    <option value="10">10</option>
                    <option value="1" selected>1</option>
                    <option value="0.1"  >0.1</option>
                    <option value="0.01" >0.01</option>
                    <option value="0.001">0.001</option>
                </select>        
            </div>            
        </div>
        -->

    <div id = "container-entradas">

        <!-- Amplitude -->
        <div class="form-group" id="grupo-amplitude">
            <label for="entrada-amplitude" class="form-label">Amplitude</label>
            <div class="form-number">
                <button type="button" class="btn-dec" onclick="decrementaInput('amplitude')" >-</button>
                <input type="number" name="entrada-amplitude" id="entrada-amplitude" min= 0 value = 1  step = 1.00 inputmode="numeric" required> 
                <button type="button" class="btn-inc" onmousedown="event.preventDefault()" onclick="incrementaInput('amplitude')">+</button>
            </div>            
        </div> 

        <!-- Frequência -->
        <div class="form-group" id="grupo-frequencia">
            <label for="entrada-frequencia" class="form-label">Frequência</label>
            <div class="form-number">
                <button type="button" class="btn-dec" onclick="decrementaInput('frequencia')">-</button>
                <input type="number" name="entrada-frequencia" id="entrada-frequencia" min= 0 value = 1  required  inputmode="numeric" data-sinais = '{{sinais_json|safe}}'>
                <button type="button" class="btn-dec" onclick="incrementaInput('frequencia')">+</button>
            </div>            
        </div> 

        <!-- PERÍODO  -->
        <div class="form-group" id="grupo-periodo">
            <label for="entrada-periodo" class="form-label">Período</label>
                <div class="form-number">
                    <button type="button" class="btn-dec" onclick="decrementaInput('periodo');">-</button>
                    <input type="number" name="entrada-periodo" id="entrada-periodo" min= 0.000001 step = 0.1 inputmode="numeric" value = 1>
                    <button type="button" class="btn-dec" onclick="incrementaInput('periodo')">+</button>
                </div>            
        </div>

        <!-- Fase -->
        <div class="form-group" id="grupo-fase">
            <label for="entrada-fase" class="form-label">Fase(º)</label>
            <div class="form-number">
                <button type="button" class="btn-dec" onclick="decrementaInput('fase');">-</button>
                <input type="number" name="entrada-fase" id="entrada-fase" value = 0 inputmode="numeric" required>
                <button type="button" class="btn-dec" onclick="incrementaInput('fase');">+</button>
           
            </div>            
        </div>

        <!-- Offset -->
        <div class="form-group" id="grupo-offset">
            <label for="entrada-offset" class="form-label">Offset</label>
            <div class="form-number">
                <button type="button" class="btn-dec" onclick="decrementaInput('offset');">-</button>
                <input type="number" name="entrada-offset" id="entrada-offset" value = 0 inputmode="numeric" required>
                <button type="button" class="btn-dec" onclick="incrementaInput('offset');">+</button>
            
            </div>            
        </div>

        <!-- Duty -->
        <div class="form-group" id="grupo-duty" style="display: none;">
            <label for="entrada-duty" class="form-label">Duty</label>
            <div class="form-number">
                <button type="button" class="btn-dec" onclick="decrementaInput('duty');">-</button>
                <input type="number" name="entrada-duty" id="entrada-duty" min= 0.001 max = 0.999 step = 0.05 inputmode="numeric" value = 0.5>
                <button type="button" class="btn-dec" onclick="incrementaInput('duty');">+</button>            
            </div>            
        </div>

    </div>
        
        <!-- Operação -->

        <div id="selects-container">
            <legend class ="form-label">Operações</label>
            <div id = "five-selects">
                {% for i in range_5 %}
                <select id="entrada-operacao-{{ i }}" name = "entrada-operacao" data-indice = "{{ i }}">
                <option value="soma" {% if i == 0 %}selected{% endif %}>+</option>
                <option value="subtracao">-</option>
                <option value="multiplicacao">*</option>
                <option value="divisao">/</option>
                <option value="nenhuma" {% if i != 0 %}selected{% endif %}>N/A</option>
                </select>
                {% endfor %}
            </div>

        </div>





</form>


