<form id = "form-unidades" action = " {% url 'osciloscopio' %} " method="post" class="formulario-entrada">
    {% csrf_token %}
    
    <div class="form-container">
      <!-- Amplitude -->
      <div class="form-group">
        <label for="unidade-amplitude" class="form-label">Amplitude</label>
        <div class="form-select">
          <select name="unidade-amplitude" id="unidade-amplitude">
            <option value="m" selected>m</option>
            <option value="m/s">m/s</option>
            <option value="m/s²">m/s²</option>
            <option value="°C">°C</option>
          </select>
        </div>
      </div>
      
      
      <!-- Duração -->
      <div class="form-group">
        <label for="unidade-duracao" class="form-label">Duração</label>
        <div class="form-select">
          <select name="unidade-duracao" id="unidade-duracao">
            <option value="s">s</option>
            <option value="m">m</option>
            <option value="h">h</option>
          </select>        
        </div>
      </div>
      
      <!-- Frequência -->
      <div class="form-group">
        <label for="unidade-frequencia" class="form-label">Frequência</label>
        <div class="form-select">
          <select name="unidade-frequencia" id="unidade-frequencia">
            <option value="hz">hz</option>
          </select>        
        </div>
      </div>

      <!-- Período -->
      <div class="form-group">
        <label for="unidade-periodo" class="form-label">Período</label>
        <div class="form-select">
          <select name="unidade-periodo" id="unidade-periodo">
            <option value="m">m</option>
            <option value="m/s">ms</option>
            <option value="m/s²">μs</option>
          </select>        
        </div>
      </div>
      
      <!-- Fase -->
      <div class="form-group">
        <label for="unidade-fase" class="form-label">Fase</label>
        <div class="form-select">
          <select name="unidade-fase" id="unidade-fase">
            <option value="rad">rad</option>
            <option value="º" selected>º</option>

          </select>        
        </div>
      </div>
    </div>

  </form>