<form  id = "form-entrada" action=" {% url 'osciloscopio' %}" method="post" class="formulario-entrada">
    {% csrf_token %}

    <input type="hidden" name = "numero_sinal" id = "numero_sinal" value= 1>
    
    <!-- Forma do sinal -->
    <div class = "container-par-entradas" id = "par-number-sinal">
        <div class="form-group" id="grupo-forma-sinal">
            <label for="entrada-forma-sinal" class="form-label">Forma do sinal</label>
            <div class="form-select" id = "select-forma-sinal">
                <select name="entrada-forma-sinal" id="entrada-forma-sinal" value = "senoidal"  >
                    <option value="senoidal" >Senoidal</option>
                    <option value="quadrada"  >Quadrada</option>
                    <option value="triangular" >Triangular</option>
                    <option value="ruido-branco">Ruído Branco</option>
                </select>        
            </div>            
        </div>

    </div>

    <div class = "container-par-entradas">
        <!-- Amplitude -->
        <div class="form-group" id="grupo-amplitude">
            <label for="entrada-amplitude" class="form-label">Amplitude</label>
            <div class="form-number">
                <input type="number" name="entrada-amplitude" id="entrada-amplitude" min= 0 max = 100  value = 1  step = 1.00 required> 
            </div>            
        </div> 

        <!-- Frequência -->
        <div class="form-group" id="grupo-frequencia">
            <label for="entrada-frequencia" class="form-label">Frequência</label>
            <div class="form-number">
                <input type="number" name="entrada-frequencia" id="entrada-frequencia" min= 0 max = 10000  value = 1  required data-sinais = '{{sinais_json|safe}}'>
            </div>            
        </div> 

    </div>

    <div class = "container-par-entradas">
        <!-- Fase -->
        <div class="form-group" id="grupo-fase">
            <label for="entrada-fase" class="form-label">Fase(º)</label>
            <div class="form-number">
                <input type="number" name="entrada-fase" id="entrada-fase" value = 0 required>
            </div>            
        </div>

        <!-- Offset -->
        <div class="form-group" id="grupo-offset">
            <label for="entrada-offset" class="form-label">Offset</label>
            <div class="form-number">
                <input type="number" name="entrada-offset" id="entrada-offset" value = 0 required>
            </div>            
        </div>
    </div>

    <div class = "container-par-entradas">

        
    </div>


    <div class = "container-par-entradas">

        <!-- Duty -->
        <div class="form-group" id="grupo-duty" style="display: none;">
            <label for="entrada-duty" class="form-label">Duty</label>
                <div class="form-number">
                    <input type="number" name="entrada-duty" id="entrada-duty" min= 0 max = 1 step = 0.05 value = 0.5>
                </div>            
        </div>
        
        <!-- Operação -->
        <div class="form-group" id="grupo-operacao">
                    <label for="entrada-operacao" class="form-label">Operação</label>
                    <div class="form-select" id = "select-operacao">
                        <select name="entrada-operacao" id="entrada-operacao" value = "soma" >
                            <option value="soma"   selected>+</option>
                            <option value="subtracao"  >-</option>
                            <option value="multiplicacao" >*</option>
                            <option value="divisao" >/</option>
                            <option value="nenhuma"  >N/A</option>
                        </select>        
                    </div>                  
        </div>

    </div>


</form>


