@media(max-width:1024px){
    #janela-principal{
        width: 100%;
        height: 100%;
    }
    #aba-esquerda{
        display: none;
    }

}

    /* CELULARES NA VERTICAL */

@media(max-width:768px) and (orientation:portrait){

    #janela-principal{
        display: none
    }

    #rotate-warning{
        display: flex;
        
    }
}

    /* CELULARES NA HORIZONTAL */

@media(max-width:768px) and (orientation:landscape){

    #janela-principal{
        display: flex
    }

    #rotate-warning{
        display: none;
    }
}