
body {
    min-height: 100vh;
    background-color: var(--azul-lioc);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    color: var(--azul-lioc);
    margin: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 2vw;
    font-family: 'Wavefont', Arial, sans-serif;
    word-wrap: break-word;
}

h2{
    text-align: center;
    margin: 0;
    font-size: 1.5vw;
    padding: 2px;

}

h3{
    color: black;
    text-align: center;
    font-size: 1.1vw;
    
}

select{
    height: 100%;
    width: 100%;
    font-size: 20px;       
}

.container-titulo{
    
    height: 8%;

    display: flex;
    justify-content: center;
    align-items: center;

}
