
  
  .formulario-entrada {
    max-width: 600px;
    
    display: flex;
    flex-direction: column;

    align-items: center;
    

    flex: 1;

   
  }
  
  .form-container {
   
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


  }
  
  .form-group {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2px;


  }
  
  .form-label {
    text-align: center;
    color: black;
    font-size: 1.1vw;
  }
  
  .form-input-group,
  .form-number {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    box-shadow: 1px 1px 5px;

    background-color: white;
    margin: 5px;
    padding-right: 5px;
      }
  
  #entrada-numero-sinal{
    height: 100%;
    width: 100%;
    font-size: 20px;
  }

  .form-unit {
    color: black;
    font-size: 1vw;
  }

 .form-select{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50%;
  width: 50%;

  padding: 5px;

 }

 #select-numero-sinal{
  flex:1;
 /*border: 1px solid salmon;*/

 }

 #select-forma-sinal{
  /*border: 1px solid salmon;*/ 

 }

  
  /* Campos do formulário */
  input[type="number"],
  input[type="text"] {
    border: none;
    background: transparent;
    font-family: 'Wavefont', sans-serif;
    font-size: 20px;
    width: 100%;
    padding-left: 10px;
    outline: none;
  }
  
  /* Botões e controles */
  .form-dropdown-toggle {
    background: #D9D9D9;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }

  .form-submit {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1vw;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin-bottom: 10px;
  }

  /* Responsividade */
  @media (max-width: 600px) {
    .form-group {
      width: 100%;
    }
  }