
  
  .formulario-entrada {
    
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    border-radius: 5px ;
    padding: 5px;
   
  }

  #form-unidades{
    height: 100%;
    display: flex;
    flex-direction: column;


  }
  
  #c1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


  }
  
  .form-group {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2px;


  }

  
  .form-label {
    text-align: center;
    color: black;
  }
  
  .form-input-group,
  .form-number {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    box-shadow: 1px 1px 5px;

    border-radius:5px ;

    background-color: white;
    margin: 5px;
    padding: 5px 8px; /* Padding uniforme */
      }

 .form-select{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  padding: 5px;

 }
 
  /* Campos do formulário */
  input[type="number"],
  input[type="text"] {
    border: none;
    background: transparent;
    font-family: 'Wavefont', sans-serif;
    width: 100%;
  }
  
