.aba {
    width: 10%;
    height: 100%;
    background: var(--cinza-claro);
    border-right: var(--espessura-borda) solid #666;
    border-image: linear-gradient(80deg, var(--cinza-claro), var(--cinza-medio)) 1;
    border-bottom-left-radius: var(--curva-borda);
    
    display: flex;
    flex-direction: column;

}

#aba-direita{

    display: block;
    width: 25%;
    border-right: none;
    border-bottom-left-radius: 0;
    border-left: var(--espessura-borda) solid #666;

    justify-content: space-between;
}

#titulo-entradas{
    font-size: 1.5vw;
    color: black;
}

#abas-sinais{
    height: 100%;

}

#container-sinais{
    flex: 0;
    height: 5%;

}


.container-conjunto-abas{
    display: flex;

    width: 100%;
    height: 8%;
}


.container-aba{
    width: 50%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-futuro{
flex: 1;
}

#container-configuracoes{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.container-unidades{

    flex: 1;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 5px;
}

.container-inputs{
 
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    
}


.botao-sinal{
    width: 100%;
    height: 100%;
    cursor: pointer;
    font: Helvetica;
    transition: border-color 0.3s ease;

}

.botao-sinal.active{
    font: Helvetica;
    font-weight: bold;

}


#botao-input{
    width: 60%;
    height: 10%;
    font-size: 1.1vw;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;

    background: #4CAF50;
    margin-bottom: 10px;
    margin-top: 10px;
}


#form-entrada{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;



}
.container-par-entradas{

    width: 100%;

    display: flex;

    justify-content: space-between;
}

#par-number-sinal{

    height: 25%;
    /*border: 1px solid lightseagreen;*/

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.container-futuro{
    visibility: visible;
}

#abas-futuras{

    height: 30%;

}

#abas-futuras>div{
    width: 25%;
}

