.aba {
    width: 10%;
    height: 100%;
    background: var(--cinza-claro);
    border-right: var(--espessura-borda) solid #666;
    border-image: linear-gradient(80deg, var(--cinza-claro), var(--cinza-medio)) 1;
    border-bottom-left-radius: var(--curva-borda);
    
    display: flex;
    flex-direction: column;

}

#aba-direita{

    width: 25%;
    border-right: none;
    border-bottom-left-radius: 0;
    border-left: var(--espessura-borda) solid #666;

    justify-content: space-between;
}

#titulo-entradas{
    font-size: 1.5vw;
    color: black;
}



.container-conjunto-abas{
    display: flex;

    width: 100%;
    height: 8%;
}


.container-aba{
    width: 50%;
    height: 100%;
  
    border: 1px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-futuro{
    flex: 1;   
}

#container-configuracoes{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.container-unidades{

    flex: 1;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 5px;
}

.container-inputs{
    height: 55%;
 
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    
}

#form-entrada{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;



}
.container-par-entradas{

    width: 100%;

    display: flex;
    
    justify-content: space-between;
}


.container-futuro{
    visibility: visible;
}

#abas-futuras{

    height: 20%;

}

#abas-futuras>div{
    width: 25%;
}

.area-grafico{
    width: 100%;
    height: 100%;
    border: 2px solid yellow;

    display: flex;
    align-items: center;
    justify-content: center;
}