#janela-principal {

    display: flex;
    background: var(--cinza-medio);
    box-shadow: var(--sombra-interna);
    border-radius: var(--curva-borda);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    resize: both;
    position: relative;
    
    max-width: 100%;
    max-height: 100%;

    margin: 0;

}

#centro-janela {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    background-color: var(--cinza-medio);
    
}