#janela-principal {
    width: var(--largura-janela);
    height: var(--altura-janela);
    max-width: 100vw;
    min-width: 320px;
    min-height: 600px;
    max-height: 100vh;

    background: var(--cinza-medio);
    box-shadow: var(--sombra-interna);
    border-radius: var(--curva-borda);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    resize: both;
    position: relative;
}

#centro-janela {
    width: 100%;
    height: 100%;

    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center; 
    background-color: var(--cinza-medio);
    overflow: hidden;
    
}
