#janela-principal {

    background: var(--cinza-medio);
    box-shadow: var(--sombra-interna);
    border-radius: var(--curva-borda);
    flex-direction: column;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    resize: both;
    position: relative;



}

#centro-janela {
    width: 100%;
    height: 100%;

    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center; 
    background-color: var(--cinza-medio);
    overflow: hidden;
    
}


/* CELULARES */

@media(max-height:768px){
    #janela-principal{
        height: 90dvh;
        width: 90dvw;
        max-height: 90dvh;
        max-width: 90dvw;
    }   
}

@media(min-height:768px){
    #janela-principal{
        height: 90dvh;
        width: 90dvw;
        max-height: 95dvh;
        max-width: 95dvw;
        min-height: 540px;
        min-width: 960px;
    }   
}
