{% load static %}


    <div class="container-superior">
        <div class="img-container" id="container-logo-lioc">                 
            <a href="http://www.lioc.oceanica.ufrj.br/" target="_blank">
                <img class="img" id="logo-lioc" src="{% static 'osciloscopio/imagens/logo-lioc.png' %}" />
            </a>
        </div>
        <div class="titulo-container">
            <h1 id="titulo">GerOndApp</h1>
        </div>
        <div class="img-container" id="container-logo-renomo">
            <a href="https://renomo.org.br" target="_blank">
                <img class="img" id="logo-renomo" src="{% static 'osciloscopio/imagens/Logo-ReNOMO.png' %}" />
            </a>
        </div>
    </div>

