<form action = " {% url 'unidades' %} " method="post" class="formulario-entrada">
    {% csrf_token %}
    
    <div class="form-container">
      <!-- Amplitude -->
      <div class="form-group">
        <label for="amplitude" class="form-label">Amplitude</label>
        <div class="form-input-group">
          <select name="unidade-amplitude" id="unidade-amplitude">
            <option value="m">m</option>
            <option value="m/s">m/s</option>
            <option value="m/s²">m/s²</option>
          </select>
        </div>
      </div>
      
      <!-- Período -->
      <div class="form-group">
        <label for="unidade-periodo" class="form-label">Período</label>
        <div class="form-input-single">
          <select name="unidade-periodo" id="unidade-periodo">
            <option value="m">m</option>
            <option value="m/s">m/s</option>
            <option value="m/s²">m/s²</option>
          </select>        
        </div>
      </div>
      
      <!-- Duração -->
      <div class="form-group">
        <label for="unidade-duracao" class="form-label">Duração</label>
        <div class="form-input-single">
          <select name="unidade-duracao" id="unidade-duracao">
            <option value="m">m</option>
            <option value="m/s">m/s</option>
            <option value="m/s²">m/s²</option>
          </select>        
        </div>
      </div>
      
      <!-- Frequência -->
      <div class="form-group">
        <label for="unidade-frequencia" class="form-label">Frequência</label>
        <div class="form-input-single">
          <select name="unidade-frequencia" id="unidade-frequencia">
            <option value="m">m</option>
            <option value="m/s">m/s</option>
            <option value="m/s²">m/s²</option>
          </select>        
        </div>
      </div>
      
      <!-- Fase -->
      <div class="form-group">
        <label for="unidade-fase" class="form-label">Fase</label>
        <div class="form-input-single">
          <select name="unidade-fase" id="unidade-fase">
            <option value="m">m</option>
            <option value="m/s">m/s</option>
            <option value="m/s²">m/s²</option>
          </select>        
        </div>
      </div>
      
    </div>
    <button type="submit" class="form-submit">Enviar</button>

  </form>