{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Osciloscopio</title>
    <link rel="stylesheet" href="{% static '/osciloscopio/css/unidades.css' %}">
</head>
<body>

    <form action="{% url 'unidades' %}" method="post"> {% csrf_token %}
        <!-- 
        <hr>
        <br>
        <br>
        <input type="number", name = "amplitude" placeholder="Digite a amplitude">
        <br>
        <br>
        <input type="number" name="frequencia" placeholder="Digite a frequencia">
        <br>
        <br>
        <input type="submit" value = "Gerar sinal">
        -->
    </form>

    <svg id="ondinha" viewBox="0 0 2160 335" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M740.835 217.171C463.634 -38.7146 0 3.02575 0 3.02575V527.5H2160V310.633C2160 310.633 1852.36 66.9971 1489.82 66.9971C1127.29 66.9971 1018.04 473.056 740.835 217.171Z" fill="#D9D9D9" fill-opacity="0.5"/>
    </svg>

 
    <div id ="janela-principal">

        <!-- janela-cabeçalho -->

        <div id = "box-titulo">
            
            <!-- Logo LIOC -->
            <a href="http://www.lioc.oceanica.ufrj.br/" title = "Vai pro site do LIOC" target="_blank">
                <img id = "logo-lioc"  src=" {% static 'osciloscopio/imagens/logo-lioc.png' %}" />
            </a>

            <!-- Título  -->
            <div id = "titulo" >GerOndApp</div>

            <!-- Logo ReNOMO -->

            <a  href="https://renomo.org.br"
                title="Vai pro site da ReNOMO"
                target="_blank">

                <img id="logo-renomo" src="{% static 'osciloscopio/imagens/Logo-ReNOMO.png' %}" />
            </a>

        </div>

        <!-- Centro da janela-->
        <div id = "centro-janela">
            <div class = "aba-esquerda" > 
                <div style="width: 148px; justify-content: flex-start; align-items: center; display: inline-flex">
                    <div style="flex: 1 1 0; height: 68px; padding-top: 8px; padding-bottom: 8px; background: #C1C1C1; border-bottom: 2px #DBDBDB solid; justify-content: center; align-items: center; gap: 10px; display: flex">
                      <div style="width: 20.13px; height: 20px; transform: rotate(180deg); transform-origin: top left; background: black"></div>
                    </div>
                    <div style="flex: 1 1 0; height: 68px; padding-top: 8px; padding-bottom: 8px; background: #C1C1C1; border-left: 2px #DBDBDB solid; border-top: 2px #DBDBDB solid; border-right: 2px #DBDBDB solid; justify-content: center; align-items: center; gap: 10px; display: flex">
                      <div style="width: 24.03px; height: 24px; transform: rotate(180deg); transform-origin: top left; background: #D9D9D9"></div>
                      <div style="width: 20px; height: 20px; transform: rotate(360deg); transform-origin: top left; background: #1C1B1F"></div>
                    </div>
                  </div>
            </div>
        </div>
    </div>

</body>
</html>